@{
    ViewBag.Title = "Home Page";
}


<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/600/600?image=1018"></a>
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/600/600?image=992"></a>
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/600/600?image=984"></a>
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/600/600?image=990"></a>
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/600/600?image=974"></a>
    <a class="carousel-item" href="#one!"><img src="https://picsum.photos/600/600?image=961"></a>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, { fullWidth: false, indicators: true });
    });
</script>